.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
  transition: margin-left 0.3s;
  margin-left: 250px; /* Espaço para o drawer aberto */
  /* padding-top: 60px; Ajuste para evitar sobreposição do header */
}

.main-content.drawer-closed {
  margin-left: 80px; /* Espaço para o drawer fechado */
}

.content {
  flex-grow: 1;
  padding: 20px;
}
